@import "../../templetes.scss";
.single-product {
  .arrow {
    color: #f0c040;
    font-size: 1.7rem;
    margin-right: 5px;
  }
  a {
    color: #f0c040;
    text-decoration: none;
    font-size: 1.5rem;
  }

  .single-product-card {
    img.large {
      width: 100%;
    }

    .price {
      font-size: 1.5rem;
    }
    .add-btn {
      @include button_mix;
    }
  }
  .card-body {
    border: 1px solid rgb(37, 37, 37, 0.2);
    background-color: rgb(230, 226, 226, 0.2);
    .qty {
      select {
        font-size: 1rem;
        border-radius: 5px;
        border: 2px solid #f0c040;
        cursor: pointer;
        option {
          background-color: #f0c040;
        }
      }
    }
  }
}

.cart-container {
  h1 {
    color: #f0c040;
  }

  .total {
    @include button_mix;
    cursor: auto;
    button {
      @include button_cancel_mix;
    }
  }
}
